<extend name="Public:common" />

<block name="main">
    <form action="{:U('Article/insert')}"  id="j_custom_form" class="form-validate col-md-12" method="post" url="{:U('Article/index')}" callback="TabAjaxDone" noEnter>
    
     <div class="form-row">
	 <div class="form-label col-md-2 text-right">
                    <label>文章标题：</label> </div>
	 <div class="form-input col-md-5">
        <input type="text" class="validate[required] required" name="title" id="j_title" value=""  >
        
        <div class="font-yellow mrg10T">标题必须填写</div>
        </div>
        </div>
		<div class="form-row">
	 <div class="form-label col-md-2 text-right">
                    <label>文章作者：</label> </div>
	 <div class="form-input col-md-5">
		<input type="text" name="writer" id="j_writer"  value="">
        </div>
        </div>
				<div class="form-row">
	 <div class="form-label col-md-2 text-right">
                    <label>文章关键字：</label> </div>
	 <div class="form-input col-md-5">
		<input type="text" name="keyword" id="j_keyword"  value="">
        </div>
        </div>
		
		         <div class="form-row">
	 <div class="form-label col-md-2 text-right"><label>设置文章标签：</label> </div>
	
	 <div class="form-input col-md-5">
              <input type="text" name="tag" id="tag"  value="">
		<div class="font-yellow mrg10T">8字符以内,回车键可以添加一个标签,最多五个标签,支持逗号和回车断开标签</div>
         </div>
        </div>
		
		     <div class="form-row">
	 <div class="form-label col-md-2 text-right">
                    <label>文章摘要：</label> </div>
	 <div class="form-input col-md-5">
		<textarea   name="art_info" id="j_art_info" height="200"></textarea>
        </div>
        </div>

         <div class="form-row">
	 <div class="form-label col-md-2 text-right"><label>内容：</label> </div>
	
	 <div class="form-input col-md-7">
         <textarea name="description" id="j_description"  class="j-content validate[required] required"" uploadJson="{:U('File/ke_upimg')}" fileManagerJson="{:U('File/editorfilemanager')}"  minheight="200"></textarea>
		<div class="font-yellow mrg10T">内容必须填写</div>
         </div>
        </div>
        
     <div class="form-row">
		<div class="form-label col-md-2 text-right">
<label>封面图片：</label></div>
<div class="col-md-7">
					<input type="file" id="upload_picture_advspic">
					<input type="hidden" name="img" id="cover_id_advspic" value=""/>
					<div class="upload-img-box">
						
					</div>
				<button type="button" class="btn medium bg-blue" id="del_img">删除封面</button>
		
					</div>
			</div>		
                    
         
         <div class="form-row">
	 <div class="form-label col-md-2 text-right"><label>分类：</label></div>
	
	 <div class="form-input col-md-5">
         <select name="cid"  data-container="body"  id="j_cid" class="selectpicker show-tick validate[required]" data-style="btn medium bg-green" data-width="auto">
               <volist name="clist" id="cate">
						<option value="{$cate.id}">{$cate.name}</option>
					</volist>
         </select>
          <div class="font-yellow mrg10T">类型必选</div>
         </div>
         </div>    
 
	  <div class="actionBar">
		<div class="form-input mrg20B text-right">
           <button type="submit" class="btn medium bg-blue">保存</button>
           <button type="button" url="{:U('Article/index')}" class="btn-close btn medium bg-red mrg15L">取消</button>
       </div>    
		</div>
    </form>
	<script type="text/javascript">
$(function(){
	setTimeout(function(){
	$("#upload_picture_advspic").uploadify({
        "height"          : 30,
        "swf"             : "__STATIC__/uploadify/uploadify.swf",
        "fileObjName"     : "Picture",
        "buttonText"      : "<span class='button-content'><i class='glyph-icon icon-picture-o'></i> 上传图片</span>",
        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
        "width"           : 120,
        'removeTimeout'	  : 1,
        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
        "onUploadSuccess" : uploadPicture{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
    });
	},3);


   
});
function uploadPicture{$field.name}(file,data){
	var data = $.parseJSON(data);
	
	
	var src = '';
    if(data.status){
    	$("#cover_id_advspic").val(data.id);
    	src = data.url || data.path
    	$("#cover_id_advspic").parent().find('.upload-img-box').html(
    		'<div class="upload-pre-item"><img src="' + src + '" width="100" height="100" onclick="imgpop(this)"/></div>'
    	);
		$("#cover_id_advspic").val('/'+src);
    } else {
    	 alertMsg.error(data.info);
    	
    }
}
$('#del_img').click(function(){
       $("#cover_id_advspic").parent().find('.upload-img-box').html('');
       $("#cover_id_advspic").val('');

});
</script>
</block>