<!DOCTYPE html>
    <html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>simpleAce后台管理</title>
        <meta name="description" content="simpleAce">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


        <!-- CSS Core -->
<link rel="shortcut icon" href="__PUBLIC__/admin/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/app.css">
        <link id="layout-theme" rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/default.min.css">
        <!-- JS -->
      <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>

</head>