/*

[醴翹桶] 

	1- messageBoard          隱晟啣遺殤
	2- messageBoardLeft      隱晟啣酘晚遺殤
	3- messageBoardRight     隱晟啣衵晚遺殤
	4- messagePage           隱晟囀揧笳
	5- messageAction         隱晟桶等
	6- rebox{                隙葩遺殤
	
*/


/* =1 messageBoard每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#messageBoard{
	clear:both;
	float:left;
	margin-top:20px;
	overflow:hidden;
	width:620px;
}

/* =2 messageBoardLeft每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.messageBoardLeft{/* 酘晚遺殤 */
	background:#FAFAFA;
	border:1px solid #ccc;
	float:left;
	width:98px;
}
.messageBoardAvatar{/* 芛砉 */
	height:72px;
	margin:10px auto; 
	width:72px;
}
.messageBoardLeft b{
	display:block;
	font-size:12px;
	font-weight:normal; 
	line-height:15px;
	padding-bottom:8px;
	text-align:center;
	width:98px;
}
.messageBoardLeft b a{
	color:#A00F16;
	font-size:12px;
	font-weight:normal; 
	text-decoration:none;
}
.messageBoardLeft b a:hover{
	color:#004499;
	font-size:12px;
	font-weight:normal; 
	text-decoration:underline;
}

/* =3 messageBoardRight每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.messageBoardRight{/* 衵晚遺殤 */
	float:left;
	width:520px;
}
.messageBoardRight-top{/* 衵晚遺殤芛窒 */
	background:url(../images/messageBoardRight-top.jpg) no-repeat;
	color:#828B95;
	float:left;
	font-size:12px;
	height:34px;
	line-height:35px;
	padding-left:35px;
	width:485px;
}

.messageBoardRight-center{/* 衵晚遺殤笢窒 */
	background:url(../images/messageBoardRight-center.jpg) repeat-y;
	color:#222222;
	float:left;
	font-size:14px;
	line-height:23px;
	_margin-top:-1px;
	padding-left:40px;
	padding-right:10px;
	width:470px;
}
.messageBoardRight-center a{
	color:#A00F16;
	font-size:14px;
	text-decoration:none;
}
.messageBoardRight-center a:hover{
	color:#004499;
	font-size:14px;
	text-decoration:underline;
}

.messageBoardRight-bottom{/* 衵晚遺殤腴窒 */
	background:url(../images/messageBoardRight-bottom.jpg) no-repeat;
	float:left;
	height:16px;
	width:520px;
}


/* =4 messagePage每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#messagePage{
	border-bottom:1px dashed #222;
	color:#555;
	float:left;
	font-size:13px;
	height:40px;
	line-height:35px;
	margin:20px auto;
	text-align:center;
	width:620px;
}
#messagePage a{
	color:#555;
	font-size:13px;
	text-decoration:none;
}
#messagePage a:hover{
	color:#111;
	font-size:13px;
	text-decoration:underline;
}

/* =5 messageAction每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
#messageAction{/* 桶等俋窒遺殤 */
	float:left;
	width:618px;
	padding-bottom:20px;
	margin-bottom:20px;
	background:url(../images/messageAction-bg.jpg) repeat;
	border:1px solid #CCCCCC;
}
.messageMsg{/* 桶等囀窒遺殤 */
	margin:15px auto 0px auto;
	width:590px;
}
.messageMsgLeft{/* 酘晚怀踸 */
	color:#666;
	float:left;
	font-size:14px;
	line-height:23px;
	margin-right:20px;
	width:320px;
}
.messageMsgLeftInput{
	border:#CCCCCC 1px solid;
  color:#666;
  font-size:12pt;
  font-size:14px;
  height:24px;
	line-height:23px;
	margin:5px 0px;
	padding-left:5px;
	width:95%;
  _width:91%;
}
.messageMsgRight{/* 衵晚怀踸 */
	color:#666;
	float:left;
	font-size:14px;
	line-height:23px;
	width:250px;
}
.messageMsgRightInput{
	border:#CCCCCC 1px solid;
  color:#666;
  font-size:12pt;
  font-size:14px;
  height:24px;
	line-height:23px;
	margin:5px 0px;
	padding-left:5px;
	 width:95%;
  _width:91%;
}
.messageSelectAvatar{/* 恁寁芛砉 */
	width:590px;
	margin:auto;
}
.messageText{/* 怀踽硜暆羆 */
	margin:10px auto;
	width:590px;
}
.messageArea{/* 怀踽硜楱覺噶 */
	border:#CCCCCC 1px solid;
	background:#FFFFFF;
	color:#666666;
	font-size:12px;
	height:150px;
	padding:10px;
	width:568px;
}
.messagePost{/* 枑蝠隱晟遺殤 */
	margin:10px auto;
	height:32px;
	width:202px;
}

.messagePostBtn{/* 枑蝠偌聽 */
	background:#FFF;
	border:#CCCCCC 1px solid;
	cursor:pointer;
	color:#444;
	font-size:13px;
	height:30px;
	line-height:25px;
	text-align:center;
	width:200px;
}

/* =6 rebox{每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.rebox{
   border:1px dashed #ccc;
   background:#fff;
   color:#333;
   margin:12px auto;
   padding:5px 10px;
   width:88%;
}