/*

[醴翹桶] 

	1- sidebar         衵晚耜戲
	2- sideLine        煦賃盄
	3- ad            耜晚戲嫘豢
	4- sidebarBox      耜晚戲遺殤耀輸
	5- searchBox       刲坰遺
	6- tag             梓ワ堁
	7- listTitle     	 藷欶鴃Ｉ鍤薰欶墾訇  
	8- comments        耜晚戲ぜ蹦
	9- links           耜晚衭①蟈諉

*/


/* =1 sidebar每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#sidebar{
	float:left;
	margin-top:30px;
	margin-left:10px;
	_margin-left:10px;    /*  IE6  */
	width:300px;
}

/* =2 sideLine每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
#sideLine{
	border-bottom:1px dashed #E5E5E5;
  float:left;
  height:2px;
  margin:10px 0px;
  _margin-top:0px;
  _margin-bottom:10px;
  width:300px;
}

/* =3 ad每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
#ad_1{
	float:left;
	height:250px;
  width:300px;
}

/* =4 sidebarBox每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#sidebarBox{
	float:left;
	width:300px;
}
.boxTop{/* 遺殤芛窒 */
	background:#EEEEEE;
  height:27px;
  width:300px;
}
.boxTop h2{
	color:#333;
	font-size:14px;
	font-weight:bold;
	font-family:峚縼驕;
	line-height:30px;
	padding-left:15px;
}
.boxContent{/* 遺殤囀搚蕙 */
	background:#F9F9F9;
  height:100%;
  margin-top:1px;
  padding:15px 0px;
  width:300px;
}

/* =5 searchBox每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
#searchBox{
  float:left;
	width:300px;
}
#searchBox h4 {
	display:none;
	font-size:0px;
}
form.form{
	background:url(../images/search-bg.jpg) no-repeat;
	height:38px;
  width:300px;
}
input.searchbox{
	border:1px solid #FFF;
	float:left;
	font-size:13px;
	height:17px;
	margin-left:59px;
	margin-top:9px;
	width:148px;
}
input.searchsubmit{
	cursor:pointer;
	float:left;
	height:28px;
	margin-top:5px;
	margin-left:10px;
	width:73px;
}

/* =6 tag每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.tag{
  margin-left:15px;
  line-height:20px;
  padding:10px 5px;
  width:270px;
}
.tag ul{
  overflow:hidden; 
}
.tag span{
	padding:2px 3px; 
	white-space:nowrap;
}
.tag{
	font-family:峚縼驕;
}
.tag1{ 
	color:#32302E;
	font-weight:bold;
	font-family:峚縼驕;
} 
.tag2{ 
	color:#DBA842; 
	font-size:18px;
	font-family:峚縼驕;
} 
.tag3{
	color:#003399;
	font-family:峚縼驕;
} 
.tag4{ 
	color:#99A50A;
	font-weight:bold;
	font-size:14px;
	font-family:峚縼驕;
}
.tag5{ 
	color:#006600;
	font-weight:bold;
	font-size:16px;
	font-family:峚縼驕;
}
.tag6{ 
	color:#333333;
	font-weight:bold;
	font-size:14px;
	font-family:峚縼驕;
}
.tag7{ 
	color:#003300;
	font-size:16px;
	font-family:峚縼驕;
} 
.tag8{ 
	color:#660033;
	font-size:14px;
	font-family:峚縼驕;
} 

/* =7 listTitle每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每*/
.listTitle{
	clear:both;
	font-family:峚縼驕;
	font-size:13px;
	overflow:hidden;
	width:100%;
}
.listTitle li{
	float:left;
	height:27px;
	line-height:28px;
	list-style:none;
	margin-left:5%;
	_margin-left:2.5%;
	overflow:hidden;
  width:90%;
}
.listTitle li a{
	color:#000000;
	font-size:13px;
	font-family:峚縼驕;
	text-decoration:none;
}
.listTitle li a:hover{
	color:#662625;
	font-size:13px;
	text-decoration:underline;
}

.ico1 li{
	background:url(../images/sidebarli.gif) 9px 9px no-repeat;
	margin-left:8px;
	_margin-left:4px;
	padding:0px 30px;
}


/* =8 comments每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每*/
.comments{/* 耜晚戲ぜ蹦蚳蚚蹈桶 */
	font-size:13px;
	font-family:峚縼驕;
	margin-left:20px;
	margin-right:20px;
	padding-bottom:15px;
	overflow:hidden;
}
.comments li{
	border-bottom:1px dashed #DCEBD7;
	clear:both;
	list-style:none;
	margin-top:5px;
	padding:0px;
	padding-bottom:5px;
	overflow:hidden;
}
.comments small{
	color:#333;
	display:block;
	font-size:13px;
	font-family:峚縼驕;
	height:21px;
	line-height:21px;
	padding-top:6px;
	overflow:hidden;
}
.comments small a{
	color:#662625;
	font-size:13px;
	text-decoration:underline;
}
.comments small a:hover{
	color:#111;
	font-size:13px;
	text-decoration:underline;
}

.comments small a.username{
	color:#662625;
	font-size:13px;
	font-family:峚縼驕;
	text-decoration:underline;
}
.comments p{
	color:#111;
	line-height:30px;
	overflow:hidden;
}


/* =9 comments每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每*/
.linksImg{/*衭①蟈諉(恅趼)蚳蚚*/
	clear:both;
	padding-bottom:5px;
	overflow:hidden;
	width:100%;
}
.linksImg li{
	float:left;
	line-height:14px;
	list-style:none;
  margin-left:4px;
	-margin-left:2px;
	padding-top:5px;
	padding-left:5px;
}

.linksTxt{/*衭①蟈諉(芞え)蚳蚚*/
	clear:both;
	font-size:13px;
	font-family:峚縼驕;
	padding-top:5px;
	padding-bottom:15px;
	overflow:hidden;
	width:100%;
}
.linksTxt li{
	float:left;
	line-height:18px;
	list-style:none;
	margin-left:6px;
	_margin-left:4px;
	padding:8px 8px 0px;
	white-space:nowrap;
}
.linksTxt li a{
	color:#222;
	float:left;
	text-decoration:none;
}
.linksTxt li a:hover{
	color:#662625;
	text-decoration:underline;
}
